{% extends 'base.html' %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <div class="row">
    {% block title %}
    <div class="col-lg-3">
      
      <!-- <h1 class="my-3">カテゴリー</h1> -->
      
      <div class="list-group my-3">
        <a href="{% url 'which_one:new_questionnaire' %}" class="list-group-item">新規投稿</a>
        <a href="{% url 'which_one:contact' %}" class="list-group-item">お問い合わせ</a>
        <!-- <a href="#" class="list-group-item">Category 3</a> -->
      </div>

    </div>
    {% endblock %}
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      {% for question in questions_list %}  
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 my-3">
          <div class="card h-100">
            
            <div class="card-body">
              <h6 class="card-title">
                <a href="{% url 'which_one:detail' question.id %}">{{ question.title }}</a>
              </h6>
              <p class="card-text">{{ question.overview|truncatechars:35 }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{question.category.name}}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
{% endblock %}

