
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}<h1>新規作成</h1>{% endblock %}
<script type="text/javascript" src="{% static 'javascript/createView.js' %}"></script>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        <table>{{ form.title }}</table>
        <table>{{ form.overview }}</table>
        <table>{{ form.category }}</table>
        
        <script>
            function categoryView(event) {
                var eventID = event.target.selectedIndex;
                if (eventID == 1) {
                    document.getElementById("questionnaire").innerHTML =
                        `<div>
                            <span>{{ form.text_A }}</span>
                            <span>{{ form.text_B }}</span>
                        </div>`
                    document.getElementById("id_text_A").setAttribute("required","")
                    document.getElementById("id_text_B").setAttribute("required","")
                }
                else if (eventID == 2){
                    document.getElementById("questionnaire").innerHTML =
                    `<div>
                        <span>{{ form.image_A }}</span>
                        <span>{{ form.image_B }}</span>
                        <div id="preview_A"></div>
                        <div id="preview_B"></div>
                    </div>`
                    document.getElementById("id_image_A").setAttribute("required","")
                    document.getElementById("id_image_B").setAttribute("required","")
                }
                else {
                    document.getElementById("questionnaire").innerHTML =""
                }         
            }   
        </script>

        <table id="questionnaire"></table>
    </table>
    <button type="submit" class="submit-button">送信</button>
</form>
{% endblock %}