{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/shop-homepage.css' %}">
{% block content %}
{% block title %}
<h1 class="my-3">会員登録</h1>

{% endblock %}

<body>
    <p>新規ユーザーの作成</p>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="#" class="col-sm-4 col-form-label my-3">
                <strong>{{ User.username }}</strong>
            </label>
        </div>
        <button type="submit">登録</button>
    </form>
</body>

{% endblock %}