{% extends 'base.html' %}
{% block content %}
  {% block title %}<title>Login</title>{% endblock %}
    
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
  {% if form.errors  %}
    <p>{{ error }}</p>
  {% endif %}
 
  {% for field in form %}
  {% csrf_token %}
  <div id="login">
    <form name='form-login' method="POST">
      <span>{{ field }}</span>
      <span>{{ field.errors }}</span>
  {% endfor %}
  
      <input type="submit" value="Login">
    </form>
  </div>
{% endblock %}