{% extends 'base.html' %}
{% block content %}
<div class="ui grid stackable">
    <div class="eleven wide column">
        <div class="ui breadcrumb">
            {% block title %}<a class="active section">ユーザー情報</a>{% endblock %}
        </div>
        <div class="ui segment">
            <div class="content">
                <div class="ui divided bulleted list">
                    <div class="item">ユーザー名：{{user.username}}</div>
                    <div class="item">メールアドレス：{{user.email}}</div>
                </div>
            </div>
        </div>
        <a class="ui button" href="">登録情報変更</a>
        <a class="ui button" href="">パスワード変更</a>
    </div>
</div>
{% endblock %}